html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --primary-text-color : #000;
    --color-hover : orange;
    --primary-text-title: #fff;
    --cards-color: #698AD9;
    --primary-section-color: #1D2432;
}
.page {
    background-color: var(--primary-text-title);
    color: var( --primary-text-color);
}
h1,h2,h3,h4,h5,h6 {
    color: var( --primary-text-color);
}
ul {
    list-style: none;
}
html {
    box-sizing: border-box;
}
*,
*::before
*::after {
    box-sizing: inherit;
}
.body {
    margin: 0;
}
.container {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    outline: 2px solid chartreuse;
}
/*шапка сайта*/
.container .sotial {
    margin: 0;
    padding: 0;
}
.sotial-item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 100px;
    margin-right: 100px;
}

.sotial {
    margin: 0;
    padding: 0;
}
.sotial-insta {
    font-family: Lora;
    font-style: Bold;
    font-size: 20px;
    line-height: 1.3;
}
.sotial-insta a {
    display: inline-flex;
    text-decoration: none;
    color: var(--primary-text-color);
}
.sotial-insta ::before {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    align-self: center;
    content: "";
    background-image:  
    url("../img/inst.png");
    background-size: contain;
}
.button {
    background-color: #3E57F3;
    color: var(--primary-text-title);
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;

    display: inline-block;
    padding: 10px 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    min-width: 175px;
    text-decoration: none;
}
.button:hover {
    background-color: var(--primary-text-title);
    color: #3E57f3;
    border: 2px solid #3E57F3;
}
.button:focus {
    background-color: var(--primary-text-title);
    color: #3E57f3;
}
/*galery*/
.galery {
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 1070px;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    background-image:url("../img/foto/Афинская-Школа-Рафаэль_1.png"),
    linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)),
    url("../img/foto/Афинская-Школа-Рафаэль_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.galery img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    margin-bottom: 32px;
}
.galery h1 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 95px;
    line-height: 1;
    margin: 0;
    margin-bottom: 32px;
    color: var(--primary-text-title);
}
.galery h2 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 75px;
    line-height: 1;
    margin: 0;
    margin-bottom: 32px;
    color: var(--primary-text-title);
}
.galery p {
    margin: 0;
    margin-bottom: 30px;

    font-family: Lora;
    font-size: 25px;
    line-height: 1.28;
    color: var(--primary-text-title);
    text-align: center;
}
.button-galery {
    background-color: #3E57F3;
    color: var(--primary-text-title);
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;

    display: inline-block;
    padding: 10px 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    min-width: 175px;
    text-decoration: none;
    text-align: center;
}
.button-galery:hover {
    background-color: var(--primary-text-title);
    color: #3E57f3;
    border: 2px solid #3E57F3;
}
.button-.button-galery {
    background-color: var(--primary-text-title);
    color: #3E57f3;
}

/*priority*/
.priority {
    background-color: var(--primary-section-color);
    padding: 100px 200px;
}
.priority-list img {
   max-width: 335px;
}
.priority h2 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    margin: 0;
    margin-bottom: 70px;
    text-align: center;
    vertical-align: top;

    color: var(--primary-text-title);
}
.priority-list p {
    font-family: Lora;
    font-style: Bold;
    font-size: 26px;
    color: var(--primary-text-title);

    margin: 0;
}
.priority-list {
    margin: 0;
    padding: 0;
}
.priority-list li {
    display: flex;
    align-items: flex-end;
}
.priority-list li:not(:last-child) {
    margin-bottom: 100px;
}
.priority-list li:nth-child(2n) {
    flex-direction: row-reverse;    
}
.priority-list li:nth-child(2n+1) p {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 70px;
}
.priority-list li:nth-child(2n) p {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 70px;
}
/*cards*/
.cards {
    padding: 100px;
}
.cards h2 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    margin: 0;
    margin-bottom: 70px;
    text-align: center;
    vertical-align: top;
}
.cards h3 {
    font-family: Lora;
    font-size: 22px;
    line-height: 1.28;
    text-align: center;
    vertical-align: top;
    color: var(--primary-text-title);

    margin: 0;
    margin-bottom: 20px;
}
.cards-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.cards-list li {
    max-width: 270px;
    height: 280px;
    background-image: url("../img/Ellipse_18.svg"),
    url("../img/Ellipse_18.svg"),
    url("../img/Ellipse_18.svg"),
    url("../img/Ellipse_18.svg");
    background-repeat: no-repeat;
    background-position: top 6px left 6px, bottom 6px left 6px,
     top 6px right 6px, bottom 6px right 6px;
    width: calc((100% -150px) / 4);
    padding: 30px;
    background-color: var(--cards-color);
    
}

.cards-list p {
    font-family: Lora;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
    vertical-align: top;
    color: var(--primary-text-title);

    margin: 0;
    margin-bottom: 16px;
}
.cards-list .small {
    font-family: Lora;
    font-size: 10px;
    line-height: 1.25;
    text-align: left;
    vertical-align: top;

    margin: 0;
}
/*hero*/
.hero {
    padding: 100px;
}
.hero-text {
    display: flex;
}
.hero-text h2{
    font-family: Philosopher;
    font-style: Bold;
    font-size: 60px;
    line-height: 1;
    text-align: center;

    margin: 0;
    margin-left: 50px;
    margin-right: 122px;
    margin-bottom: 70px;
}
.hero p {
    text-decoration-style: regular;
    font-family: Lora;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    vertical-align: top;

    margin: 0;
    margin-left: 50px;
    margin-bottom: 15px;
}
.img {
    width: 554px;
}
/*healthy*/
.healthy {
    background-color: var(--primary-section-color);
    padding: 100px 200px;
}
.healthy-list {
    margin: 0;
    padding: 0;
}
.healthy-list img {
    max-width: 335px;
}
.healthy-list li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
}
.healthy-list li:nth-child(2n) {
    flex-direction: row-reverse;    
}
.healthy-list li:nth-child(2n+1) p {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 70px;
}
.healthy-list li:nth-child(2n) p {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 70px;
}
.healthy-title {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    line-height: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 70px;

    color: var(--primary-text-title);
} 
.healthy-list p {
    font-family: Lora;
    font-style: Bold;
    font-size: 26px;
    line-height: 1.28;
    color: var(--primary-text-title);

    margin: 0;
}
/*program*/
.program {
    padding-top: 100px;
    padding-bottom: 100px;
}
.program-title {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    text-align: center;
    
    margin: 0;
    margin-bottom: 70px;
}
.program h3 {
    font-family: Lora;
    font-style: Bold;
    font-size: 32px;
    line-height: 1.28;
    text-align: left;
    
    margin: 0;
}
/*.program-after::after {
    display: inline-flex;
    content: "";
    width: 40px;
    height: 40px;
    align-items: center;
    background-image: url("../img/png/Ellipse1.png");
}*/
.program-text-title {
    font-family: Lora;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;

    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 676px;
    margin-bottom: 40px;
    
}.program-list {
    margin: 0;
    padding: 0;
}
.program-list img{
    width: 40px;
    height: 40px;
}
.program-list p {
    font-family: Lora;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    
    margin: 0;
    padding: 0;
    margin-top: 20px;
    max-width: 676px;
}
.program-list li {
    margin-left: auto;
    margin-right: auto;
    max-width: 898px;
    display: flex;
    justify-content: space-between;
}
.program-list li:not(:last-child){
    margin-bottom: 35px;
}
/*vids*/
.vids {
    padding-top: 100px;
    padding-bottom: 100px;
}
.vids-text {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    text-align: center;
    
    margin: 0;
    margin-bottom: 70px;
}
.lection {
    max-width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/*priority-card*/
.priority-card {
    padding: 100px;
}
.priority-card h2 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    text-align: center;
    
    margin: 0;
    margin-bottom: 70px;
}
.priority-card-list {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.priority-card-list li {
    max-width: 270px;
    height: 280px;
    background-image: url("../img/Ellipse_18.svg"),
    url("../img/Ellipse_18.svg"),
    url("../img/Ellipse_18.svg"),
    url("../img/Ellipse_18.svg");
    background-repeat: no-repeat;
    background-position: top 6px left 6px, bottom 6px left 6px,
     top 6px right 6px, bottom 6px right 6px;
    width: calc((100%-150px) / 3);
    padding: 30px;
    background-color: var(--cards-color);
}
.priority-card h3 {
    font-family: lora;
    font-style: Bold;
    font-size: 22px;
    line-height: 1.28;
    text-align: center;
    color: var(--primary-text-title);
    
    margin: 0;
    margin-bottom: 25px;
}
.priority-card-list p {
    font-family: lora; 
    font-size: 14px;
    line-height: 1.3;
    color: var(--primary-text-title);
    
    margin: 0;
}
.priority-card .item {
    font-family: lora;
    font-style: Bold;
    font-size: 24px;
    line-height: 1.28;
    color: var(--primary-text-color);

    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 483px;
    margin-bottom: 20px;
}
.priority-card-foto {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
/*feetback*/
.feetback {
    padding-top: 100px;
    padding-bottom: 100px;
}
.feetback-item {
    width: 888px;
    height: 450px;
    padding: 202px 127px 106px;
    background-color: var(--primary-section-color);
    margin-left: auto;
    margin-right: auto;
}
.feetback h2 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    text-align: center;
    
    margin: 0;
    margin-bottom: 50px;
}
.feetback h3 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 39px;
    line-height: 1.12;
    text-align: center;
    color: var(--primary-text-title);
    
    margin: 0;
    margin-bottom: 25px;
}
.feetback p {
    margin: 0;

    font-family: Lora;
    font-style: Regular; 
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    color: var(--primary-text-title);
}
.feetback img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
/*questions*/
.questions {
    padding-top: 100px;
    padding-bottom: 100px;
}
.questions li {
    margin-left: auto;
    margin-right: auto;
    max-width: 898px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.questions li:not(:last-child){
    margin-bottom: 35px;
}
.questions ul {
    padding: 0;
    margin: 0;
}
.questions h2 {
    font-family: Philosopher;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.12;
    text-align: center;
    
    margin: 0;
    margin-bottom: 70px;
}
.questions .small {
    font-family: Lora;
    font-style: Bold;
    font-size: 20px;
    line-height: 1.3;
    
    text-align: left;
    margin: 0;
    margin-top: 20px;
}
.questions h3 {
    font-family: Lora;
    font-size: 32px;
    line-height: 1.28;
    text-align: left;
    
    margin: 0;
    width: 736px;
}
.questions img {
    width: 40px;
    height: 40px;
}
.vertical {
    vertical-align: top;
}
/*футер*/
.footer {
    background-color: var( --primary-text-color);
    color: var(--primary-text-title);
    list-style: none;
    padding: 60px;
}
.footer-item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offer {
    width: 314px;
    height: 130px;
}
.offer-list {
    font-family: Lora;
    font-size: 20px;
    line-height: 1.3;

    margin: 0;
}
.offer a {
    font-family: Lora;
    font-size: 20px;
    line-height: 1.3;
    color: var(--primary-text-title);
    text-decoration: none;
}

.direct-list {
    width: 400px;
    height: 82px;
    font-family: lora;
    font-style: Bold;
    font-size: 32px;
    line-height: 1.28;
    vertical-align: top;
    
    margin: 0;
}
.direct a {
    display: inline-flex;
    font-family: lora;
    font-style: Bold;
    font-size: 32px;
    line-height: 1.28;
    color: var(--primary-text-title);

    text-decoration: none;
}
.direct a::before {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    align-self: center;
    content: "";
    background-image: url("../img/instafoter.png");
    background-size: contain;
}
.designed {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 38px;
}
.designed-list {
    display: inline-flex;
    font-family: lora;
    font-size: 20px;
    line-height: 1.3;

    color: var(--primary-text-title);
    margin-right: 16px;
}
.designed-list::after {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    align-self: center;
    content: "";
    background-image: url("../img/Лого1.svg");
    background-size: contain;
}
.footer a {
    text-decoration: none;
}